
.tabs {
    display: flex;
    margin-top: 20px;
}

.tabs__tab {
    padding: 12px 20px;
    background-color: #007bff; /* Ko'k rang */
    color: white;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tabs__tab2{
    border: none;
    padding: 12px;
    background-color: #007bff; /* Ko'k rang */
    color: white;
    cursor: pointer;
    border-radius: 5px;
    min-width: 100px;
    margin-right: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tabs__tab:hover {
    background-color: #0056b3; /* To'yingan ko'k rang */
}

.tabs__tab--active {
    background-color: #0056b3; /* Faol tab rang */
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dataTable__header {
    background-color: #007bff; /* Ko'k rang */
}

.dataTable__headerCell {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    color: white;
}




.dataTable__row:nth-child(even) {
    background-color: #f2f2f2; /* Alternativ satrlar uchun rang */
}

.dataTable__cell {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.dataTable__row:hover {
    background-color: #e7f1ff; /* Hover effekt */
}
/* Media query */
@media (max-width: 500px) {
    .dataTable {
        display: flex  ;

    }
    .dataTable__body{
        width: 100%;
    }
    .dataTable__header{
        display: none;
    }
    .dataTable__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }

    .dataTable__cell {
        border: none;
        padding: 5px;
        text-align: left;
    }

    .dataTable__cell:nth-child(1) {
        font-weight: bold;
    }
}